header {
    height: 70vh;
    background: #1a1919 url("../images/backgrounds/texture.jpg");
    display: flex;
    align-items: center;
}

h1,
h2 {
    font-family: $headings;
}

h1 {
    margin: 0;
    color: $primary-light;
    text-align: center;
}

.content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $header-height;
    background: $primary-3;
    h2 {
        color: $primary-light;
        font-size: 3rem;
        text-shadow: $shadow-article;
    }
}

main {
    .outer {
        padding: 4rem 0;
    }
}