:root {
  --highlight: #00dffc;
  --highlight-hover: #19cae1;
  --neon-white: #fff;
  --contrast: #008c9e;
  --nav-background: rgba(0, 65, 73, 0.9);
  --secondary-light: whitesmoke;
  --primary-dark: #222;
  --secondary-dark: #343838;
  --container-padding: 20px;
  --smaller-container-padding: calc(var(--container-padding) / 2);
  --container-width: calc(100vw - var(--smaller-container-padding));
  --tile-width: 320px;
  --border-width: 40px;
  --main-text: 'Raleway', sans-serif;
  --headings: 'Montserrat', sans-serif;
  --shadow-box: 4px 4px 6px 3px rgba(1, 1, 1, 0.9);
  --shadow-highlight: -1px -1px 0 var(--contrast, #00dffc), 1px -1px 0 var(--contrast, #00dffc), -1px 1px 0 var(--contrast, #00dffc), 1px 1px 0 var(--contrast, #00dffc), 0 -2px 8px, 0 0 2px, 0 0 5px var(--contrast, #00dffc), 0 0 15px var(--contrast, #00dffc), 0 0 2px var(--contrast, #00dffc), 0 2px 3px var(--contrast, #00dffc);
  --box-highlight: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, 0 -2px 8px, 0 0 2px, 0 0 5px white, 0 0 15px white, 0 0 2px #ff7e00, 0 2px 3px #000; }

/* sizes */
/* colors */
/* fonts */
/* shadows */
header {
  height: 445px;
  background: #1a1919 url("../images/backgrounds/texture.jpg");
  display: flex;
  align-items: center; }

h1,
h2 {
  font-family: "Montserrat", sans-serif; }

h1 {
  margin: 0;
  color: #fff;
  text-align: center; }

.content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8rem;
  background: #005662; }
  .content-header h2 {
    color: #fff;
    font-size: 3rem;
    text-shadow: 1px 1px rgba(1, 1, 1, 0.8); }

main .outer {
  padding: 4rem 0; }

.sub-footer {
  height: 80px;
  background-color: #005662;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sub-footer a {
    color: #fff; }
  .sub-footer a:hover {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, 0 -2px 8px, 0 0 2px, 0 0 5px white, 0 0 15px white, 0 0 2px #ff7e00, 0 2px 3px #000; }

/* Main header section or 'hero section' */
#welcome-section {
  height: 100vh;
  background: #1a1919 url("../images/backgrounds/texture.jpg"); }
  #welcome-section .hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /* letter i flickering effect */
    /* buttons */ }
    #welcome-section .hero-content h1 {
      color: rgba(255, 255, 255, 0.2);
      animation: fade-on 1.5s linear 4s 1, fades-down 1s linear 5.5s 1, stay 1s linear 6.5s infinite;
      text-shadow: none; }
    #welcome-section .hero-content .hero-item {
      padding: 1rem 20px; }
    #welcome-section .hero-content .welcome-subheading {
      position: relative;
      color: rgba(255, 255, 255, 0.2);
      animation: fade-on 1.5s linear 5s 1, fades-down 1s linear 6.5s 1, stay 1s linear 7.5s infinite;
      text-shadow: none;
      font-size: 2rem;
      font-family: "Raleway", sans-serif;
      font-style: italic; }
    #welcome-section .hero-content .luminous {
      color: #fff;
      animation: flicker 5s linear 2s 1, fades-down 1s linear 5.5s 1, stay 1s linear 6.5s infinite;
      opacity: .4; }
    #welcome-section .hero-content .button {
      opacity: 0.2;
      font-size: 1.2rem;
      animation: flick-on-button 1.5s linear 6s 1, fade-down-button 1s linear 7.5s 1, stays-button 3s linear 8.5s infinite; }
    #welcome-section .hero-content .button:hover {
      box-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, 0 -2px 8px, 0 0 2px, 0 0 5px white, 0 0 15px white, 0 0 2px #ff7e00, 0 2px 3px #000; }
    #welcome-section .hero-content .highlight {
      background-color: #ff7a00; }
    #welcome-section .hero-content .secondary {
      background-color: #00707f; }
    #welcome-section .hero-content .welcome-link {
      position: relative;
      /* opacity: 0.2; */
      /* animation: flick-on 1.5s linear 8s 1, flick-stay 3s linear 9.5s infinite
      ; */ }
    #welcome-section .hero-content .welcome-link:visited {
      color: #fff; }

/* nav styles */
nav {
  position: fixed;
  width: 100%;
  margin: auto;
  top: 0;
  text-align: center;
  color: #00dffc;
  z-index: 5; }
  nav .socials-icon {
    width: 30px;
    height: 30px; }
  nav a {
    color: #00dffc; }
  nav a:visited {
    color: #00dffc; }
  nav a {
    text-decoration: none; }
  nav a:hover {
    color: var(--highlight-hover, #19cae1);
    text-shadow: -1px -1px 0 #00dffc, 1px -1px 0 #00dffc, -1px 1px 0 #00dffc, 1px 1px 0 #00dffc, 0 -2px 8px, 0 0 2px, 0 0 5px #00dffc, 0 0 15px #00dffc, 0 0 2px #00dffc, 0 2px 3px #00dffc;
    opacity: .99; }

.blue {
  background: rgba(0, 86, 98, 0.8); }

.nav-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #00dffc;
  border-bottom: 2px solid #00dffc;
  font-weight: bold;
  opacity: 0.2;
  animation: flick-on 1.5s linear 6s 1, fade-down 1s linear 7.5s 1, stays 3s linear 8.5s infinite; }

#home-link {
  color: #00dffc;
  justify-self: flex-start;
  text-decoration: none; }

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*  color: $primary; */ }

#menu-toggle {
  display: none; }

.nav-link {
  margin-right: 30px;
  font-family: var(--headings, monospace) !important; }

.nav-anchor {
  position: relative;
  top: -40px; }

/* nav container turns blue on scroll down */
/* end header section styles */
/* letter i keyframes */
@keyframes flicker {
  0%,
    0.999%,
    2%,
    2.999%,
    4%,
    5.999%,
    50%,
    100% {
    opacity: .99;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, 0 -2px 8px, 0 0 2px, 0 0 5px white, 0 0 15px white, 0 0 2px #ff7e00, 0 2px 3px #000; }
  1%,
    1.999%,
    3%,
    3.999%,
    6% {
    opacity: .4;
    text-shadow: none; } }
/* Heading and subheading keyframes */
@keyframes fade-on {
  0%,
    19.999%,
    22%,
    100% {
    color: white;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, 0 -2px 8px, 0 0 2px, 0 0 5px white, 0 0 15px white, 0 0 2px #ff7e00, 0 2px 3px #000; }
  20%,
    21.999% {
    color: rgba(255, 255, 255, 0.4);
    text-shadow: none; } }
@keyframes fades-down {
  0% {
    color: rgba(255, 255, 255, 0.99);
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, 0 -2px 8px, 0 0 2px, 0 0 5px white, 0 0 15px white, 0 0 2px #ff7e00, 0 2px 3px #000; }
  100% {
    text-shadow: none;
    color: white; } }
@keyframes stay {
  0%,
    100% {
    color: white;
    opacity: .99;
    text-shadow: 1px 1px rgba(1, 1, 1, 0.8); } }
/* button keyframes */
@keyframes flick-on-button {
  0%,
    19.999%,
    60%,
    100% {
    opacity: .99;
    color: #fff; }
  20% {
    opacity: .4;
    text-shadow: none; } }
@keyframes fade-down-button {
  0% {
    opacity: .99;
    color: #fff; }
  100% {
    text-shadow: none;
    opacity: 1; } }
@keyframes stays-button {
  0%,
    100% {
    opacity: 1;
    text-shadow: none; } }
/* navbar and neon sign keyframes */
@keyframes flick-on {
  0%,
    19.999%,
    60%,
    100% {
    text-shadow: var(--shadow-highlight, -1px -1px 0 var(--highlight, #00dffc), 1px -1px 0 var(--highlight, #00dffc), -1px 1px 0 var(--highlight, #00dffc), 1px 1px 0 var(--highlight, #00dffc), 0 -2px 8px, 0 0 2px, 0 0 5px var(--highlight, #00dffc), 0 0 15px var(--highlight, #00dffc), 0 0 2px var(--highlight, #00dffc), 0 2px 3px var(--highlight, #00dffc));
    /* ; */
    opacity: .99;
    color: var(--highlight-hover, #19cae1); }
  20% {
    opacity: .4;
    text-shadow: none; } }
@keyframes flick-stay {
  0%,
    
    95.999%,
    97%,
    100% {
    text-shadow: var(--shadow-highlight, -1px -1px 0 var(--highlight, #00dffc), 1px -1px 0 var(--highlight, #00dffc), -1px 1px 0 var(--highlight, #00dffc), 1px 1px 0 var(--highlight, #00dffc), 0 -2px 8px, 0 0 2px, 0 0 5px var(--highlight, #00dffc), 0 0 15px var(--highlight, #00dffc), 0 0 2px var(--highlight, #00dffc), 0 2px 3px var(--highlight, #00dffc));
    opacity: .99;
    color: var(--highlight-hover, #19cae1); }
    /* 90%,
90.999%,
93%,
93.999%, */
  96%,
    96.999% {
    opacity: .4;
    text-shadow: none;
    color: var(--highlight-hover, #19cae1); }
  44.9% {
    opacity: 0.89;
    text-shadow: -1px -1px 0 var(--highlight, #00dffc), 1px -1px 0 var(--highlight, #00dffc), -1px 1px 0 var(--highlight, #00dffc), 1px 1px 0 var(--highlight, #00dffc), 0 -2px 1px, 0 0 1px, 0 0 1px var(--highlight, #00dffc), 0 0 1px var(--highlight, #00dffc), 0 0 1px var(--highlight, #00dffc), 0 1px 1px var(--highlight, #00dffc);
    color: var(--highlight-hover, #19cae1); } }
@keyframes fade-down {
  0% {
    text-shadow: var(--shadow-highlight, -1px -1px 0 var(--highlight, #00dffc), 1px -1px 0 var(--highlight, #00dffc), -1px 1px 0 var(--highlight, #00dffc), 1px 1px 0 var(--highlight, #00dffc), 0 -2px 8px, 0 0 2px, 0 0 5px var(--highlight, #00dffc), 0 0 15px var(--highlight, #00dffc), 0 0 2px var(--highlight, #00dffc), 0 2px 3px var(--highlight, #00dffc));
    /* ; */
    opacity: .99;
    color: var(--highlight-hover, #19cae1); }
  100% {
    text-shadow: none;
    opacity: 1; } }
@keyframes stays {
  0%,
    100% {
    opacity: 1;
    text-shadow: none; } }
/* root */
* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  letter-spacing: 0.1em; }

/* containers */
.outer {
  position: relative;
  max-width: 1270px;
  width: 100%;
  margin: 0 auto; }

main {
  background: #fff;
  text-align: center; }

.row {
  width: 100%; }

.flex-row {
  display: flex;
  flex-flow: row wrap; }

.right {
  text-align: right; }

.center {
  text-align: center; }

/* text */
h1 {
  font-size: 4rem; }

p,
h3,
a {
  font-family: "Raleway", sans-serif; }

a {
  text-decoration: none; }

.button {
  display: inline-block;
  border-radius: 1em;
  padding: 10px 30px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none; }

/* social icons */
.socials-icon {
  width: 40px;
  height: 40px;
  margin: 10px;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 1px 1px rgba(1, 1, 1, 0.8); }

.socials-icon:hover {
  box-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, 0 -2px 8px, 0 0 2px, 0 0 5px white, 0 0 15px white, 0 0 2px #ff7e00, 0 2px 3px #000; }

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .project .text {
    padding: 10px;
    background-color: rgba(230, 230, 230, 0.7);
    box-shadow: 2px 2px 10px 1px rgba(1, 1, 1, 0.2); }
    .project .text a {
      color: #00707f; }
    .project .text a:hover {
      color: #005662; }
    .project .text h3 {
      font-size: 1.1rem; }
  .project section {
    max-width: 500px;
    width: 100%; }
    .project section img {
      width: 100%;
      height: auto;
      box-shadow: 2px 2px 10px 1px rgba(1, 1, 1, 0.2); }

@media (min-width: 800px) {
  .project {
    position: relative;
    padding: 3rem 0; }
    .project .text {
      position: relative; }
    .project .image {
      position: relative; }

  .forwards {
    flex-direction: row; }
    .forwards .text {
      right: 50px; }
    .forwards .image {
      left: 50px; }

  .reverse {
    flex-direction: row-reverse; }
    .reverse .text {
      left: 50px; }
    .reverse .image {
      right: 50px; } }
@media (max-width: 800px) {
  .text {
    margin-top: 4rem; } }
/*contact section*/
.contact p {
  font-size: 1.2rem;
  color: #fff; }
.contact .contact-outer {
  justify-content: center;
  align-items: center; }
  .contact .contact-outer .contact-section {
    max-width: 500px;
    width: 100%;
    padding: 20px 0; }
  .contact .contact-outer form,
  .contact .contact-outer iframe {
    box-shadow: 2px 2px 10px 1px rgba(1, 1, 1, 0.2); }
  .contact .contact-outer form {
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 12px; }
  .contact .contact-outer iframe {
    display: block;
    width: 100%;
    height: 500px; }
  .contact .contact-outer input,
  .contact .contact-outer textarea {
    padding: 10px;
    margin: 2px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #222;
    font-family: var(--headings, monospace);
    color: #222; }
  .contact .contact-outer ::placeholder {
    color: #222; }
  .contact .contact-outer #m66 {
    display: none; }
  .contact .contact-outer #submit {
    background: #00707f;
    border: 1px solid #222;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    margin: 20px auto 0 auto;
    font-size: 1.1rem; }
  .contact .contact-outer #submit:hover {
    background: #005662;
    box-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, 0 -2px 8px, 0 0 2px, 0 0 5px white, 0 0 15px white, 0 0 2px #ff7e00, 0 2px 3px #000; }

@media (min-width: 800px) {
  .contact .contact-outer .contact-section {
    padding: 20px; } }
.about-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  max-width: 900px;
  width: 100%;
  padding: 20px;
  background: #fff; }
  .about-container h3 {
    font-style: italic; }
  .about-container .about-section {
    width: 350px; }
  .about-container .about-description {
    position: relative;
    line-height: 1.5;
    text-align: justify; }
  .about-container .profile-picture {
    box-shadow: 2px 2px 10px 1px rgba(1, 1, 1, 0.2); }
  .about-container em {
    font-weight: bold; }

footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background: var(--primary-dark, #222);
  color: var(--primary-light, white);
  padding: var(--container-padding, 20px);
  font-family: var(--main-text, sans-serif);
  font-size: 0.8rem; }

footer a {
  color: var(--secondary-light, whitesmoke) !important;
  text-decoration: none; }

footer a:hover {
  opacity: 0.7; }

.stacked {
  text-align: center; }
  .stacked .socials-icon {
    width: 30px;
    height: 30px; }
  .stacked .footer-nav-links {
    display: flex;
    flex-flow: row wrap; }
  .stacked .footer-link-container {
    margin: 0 10px; }

/* header media breaks*/
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem; }

  /* .welcome-link {
      
      right: 100px;
  } */
  /* .hero-content {
      top: 50px;
  } */ }
@media (min-width: 1800px) {
  /* .headings-section {
      left: 10%;
  } */
  /* h1 {
      font-size: 7rem;
  }
  .headings-section h2 {
      font-size: 3rem;
  }
  .welcome-link {
      right: 12%;
      bottom: 13.5%;
      font-size: 3.5rem;
  }
  .nav-link {
      font-size: 1.5rem;
  } */ }
@media (max-width: 800px) {
  #welcome-section .hero-content .button {
    font-size: 1rem; }
  #welcome-section .hero-content .welcome-subheading {
    font-size: 1.5rem; }

  h1 {
    font-size: 3rem; }

  .nav-container {
    width: 100%;
    padding: 0 10px; }

  .nav-list {
    position: absolute;
    top: 57px;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    line-height: 2;
    font-size: 18px;
    padding-top: 20px;
    width: 100%; }

  .nav-link {
    position: relative;
    margin-right: 10px; }

  .toggle-reveal {
    display: flex; }

  #menu-toggle {
    position: relative;
    display: inline-block;
    --size: 25px;
    --color: var(--highlight);
    --thickness: calc(var(--size) / 8);
    --margin: calc((var(--size) - calc(var(--thickness) * 3)) / 2);
    width: var(--size);
    height: var(--size); }

  .hamburger {
    width: 100%;
    border: 1px solid var(--color);
    height: var(--thickness);
    background: var(--color);
    border-radius: calc(var(--thickness) / 2); }

  #menu-toggle:hover .hamburger {
    box-shadow: var(--shadow-highlight); }

  .top {
    margin-bottom: var(--margin); }

  .welcome-link {
    bottom: 2%; }

  #socials-container {
    margin-top: 3em; }

  .content-header {
    padding: 10px; }
    .content-header h2 {
      font-size: 2.3rem; } }
/* footer media breaks */
@media (max-width: 400px) {
  footer {
    line-height: 2; } }
/* start main content styles*/
/* gallery section */
#projects {
  padding: var(--container-padding, 20px);
  border-bottom: var(--border-width, 40px) solid var(--primary-dark, #222); }

#projects-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /*  width: var(--container-width, 100%);*/
  margin: 3rem auto; }

.article-heading {
  position: relative;
  margin: 2rem 0;
  color: var(--primary-light);
  font-size: 3rem;
  text-shadow: var(--shadow-article, 3px 4px rgba(1, 1, 1, 0.8)); }

.project-tile {
  position: relative;
  height: var(--tile-width, 300px);
  width: var(--tile-width, 300px);
  margin: calc(var(--container-padding) / 2);
  box-shadow: var(--shadow-box, 4px 4px 6px 3px rgba(1, 1, 1, 0.9));
  border: 10px solid var(--border-highlight);
  border-bottom: 30px solid var(--border-highlight); }

.image-label {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  font-family: var(--main-text, sans-serif);
  font-size: 0.9rem;
  color: white; }

.project-tile img {
  height: 100%;
  width: 100%; }

.project-description-section {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--contrast, #00dffc);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease; }

.project-description-section a {
  display: inline-block;
  line-height: 1.5; }

.project-tile:hover {
  box-shadow: -1px -1px 0 var(--contrast, #00dffc), 1px -1px 0 var(--contrast, #00dffc), -1px 1px 0 var(--contrast, #00dffc), 1px 1px 0 var(--contrast, #00dffc), 0 -2px 8px, 0 0 2px, 0 0 5px var(--contrast, #00dffc), 0 0 15px var(--contrast, #00dffc), 0 0 2px var(--contrast, #00dffc), 0 2px 3px var(--contrast, #00dffc);
  /*  border: 2px solid var(--highlight); */
  border: 10px solid var(--border-highlight);
  border-bottom: 30px solid var(--border-highlight); }

.project-tile:hover .project-description-section {
  height: 100%;
  top: 0; }

.slide {
  height: 100%;
  top: 0; }

.project-description-text {
  color: var(--primary-light);
  /* font-size: 1.1rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* -ms-transform: translate(-50%, -50%); */
  white-space: wrap;
  width: 500px;
  height: 100%;
  text-align: center;
  padding: 10px; }

.project-description-text a {
  text-decoration: none;
  color: var(--highlight, white); }

.project-description-text a:hover {
  color: var(--highlight-hover, #19cae1); }

.project-title {
  margin: .7em; }

#profile-links {
  margin: 1em; }

#profile-links a {
  display: inline-block;
  color: var(--highlight);
  text-decoration: none;
  text-shadow: var(--shadow-article); }

#profile-links a:hover {
  text-shadow: var(--shadow-highlight, -1px -1px 0 var(--highlight, #00dffc), 1px -1px 0 var(--highlight, #00dffc), -1px 1px 0 var(--highlight, #00dffc), 1px 1px 0 var(--highlight, #00dffc), 0 -2px 8px, 0 0 2px, 0 0 5px var(--highlight, #00dffc), 0 0 15px var(--highlight, #00dffc), 0 0 2px var(--highlight, #00dffc), 0 2px 3px var(--highlight, #00dffc));
  color: var(--highlight-hover, #19cae1); }

/* footer section styles */

/*# sourceMappingURL=styles.css.map */
