@import 'variables';
@import 'template';
@import 'header';
@import 'keyframes';
@import 'globals';
@import 'projects';
@import 'contact';
@import 'about';
@import 'footer';
@import 'media-breaks';

/* start main content styles*/


/* gallery section */

#projects {
    padding: var(--container-padding, 20px);
    border-bottom: var(--border-width, 40px) solid var(--primary-dark, #222);
}

#projects-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    /*  width: var(--container-width, 100%);*/
    margin: 3rem auto;
}

.article-heading {
    position: relative;
    margin: 2rem 0;
    color: var(--primary-light);
    font-size: 3rem;
    text-shadow: var(--shadow-article, 3px 4px rgba(1, 1, 1, 0.8));
}

.project-tile {
    position: relative;
    height: var(--tile-width, 300px);
    width: var(--tile-width, 300px);
    margin: calc(var(--container-padding) / 2);
    box-shadow: var(--shadow-box, 4px 4px 6px 3px rgba(1, 1, 1, 0.9));
    border: 10px solid var(--border-highlight);
    border-bottom: 30px solid var(--border-highlight);
}

.image-label {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    font-family: var(--main-text, sans-serif);
    font-size: 0.9rem;
    color: white;
}

.project-tile img {
    height: 100%;
    width: 100%;
}

.project-description-section {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--contrast, #00dffc);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.project-description-section a {
    display: inline-block;
    line-height: 1.5;
}

.project-tile:hover {
    box-shadow: -1px -1px 0 var(--contrast, #00dffc), 1px -1px 0 var(--contrast, #00dffc), -1px 1px 0 var(--contrast, #00dffc), 1px 1px 0 var(--contrast, #00dffc), 0 -2px 8px, 0 0 2px, 0 0 5px var(--contrast, #00dffc), 0 0 15px var(--contrast, #00dffc), 0 0 2px var(--contrast, #00dffc), 0 2px 3px var(--contrast, #00dffc);
    /*  border: 2px solid var(--highlight); */
    border: 10px solid var(--border-highlight);
    border-bottom: 30px solid var(--border-highlight);
}

.project-tile:hover .project-description-section {
    height: 100%;
    top: 0;
}

.slide {
    height: 100%;
    top: 0;
}

.project-description-text {
    color: var(--primary-light);
    /* font-size: 1.1rem; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
    white-space: wrap;
    width: 500px;
    height: 100%;
    text-align: center;
    padding: 10px;
}

.project-description-text a {
    text-decoration: none;
    color: var(--highlight, white);
}

.project-description-text a:hover {
    color: var(--highlight-hover, hsl(187, 80%, 49%));
}

.project-title {
    margin: .7em;
}

#profile-links {
    margin: 1em;
}

#profile-links a {
    display: inline-block;
    color: var(--highlight);
    text-decoration: none;
    text-shadow: var(--shadow-article);
}

#profile-links a:hover {
    text-shadow: var(--shadow-highlight, -1px -1px 0 var(--highlight, #00dffc), 1px -1px 0 var(--highlight, #00dffc), -1px 1px 0 var(--highlight, #00dffc), 1px 1px 0 var(--highlight, #00dffc), 0 -2px 8px, 0 0 2px, 0 0 5px var(--highlight, #00dffc), 0 0 15px var(--highlight, #00dffc), 0 0 2px var(--highlight, #00dffc), 0 2px 3px var(--highlight, #00dffc));
    color: var(--highlight-hover, hsl(187, 80%, 49%));
}


/* footer section styles */